/SnakeGame/build/
/SnakeGame/dist/
/SnakeGame/nbproject/private/
/loginApp/build/
/loginApp/dist/
/loginApp/nbproject/private/
/MusicApplication/nbproject/private/
/MusicApplication/build/
/MusicApplication/dist/